<div class="row">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
    <div class="panel panel-danger">
      <div class="panel-heading center-text">
        <span>
          404 - Page Not Found
        </span>
      </div>
      <div class="panel-body">
        <div class="alert alert-warning center-text">
          <span class="error-color-code">
            *** The page you are trying to view does not exist ***
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
