<div class="row" style="display: flex;">
  <button mat-icon-button class="generic-icon-alt-btn" aria-label="Go to previous month" title="Previous Month"
    (click)="goToPrevious()">
    <mat-icon style="margin-left: -8px;">keyboard_arrow_left</mat-icon>
  </button>
  <span class="spacer"></span>
  <div class="center-text" style="font-size: 20px; margin-top: 10px;">
    <strong><span>{{ currentDisplayDate$ | async }}</span></strong>
  </div>
  <span class="spacer"></span>
  <button mat-icon-button class="generic-icon-alt-btn" aria-label="Go to next month" title="Next Month"
    (click)="goToNext()" [disabled]="nextMonthDisabled$ | async">
    <mat-icon style="margin-left: -8px;">keyboard_arrow_right</mat-icon>
  </button>
</div>
<div class="row">
  <div class="col-xs-12 center-text">
    <mat-slide-toggle [checked]="showWeekView$ | async" color="primary" (toggleChange)="onWeekViewToggle()">Week View
    </mat-slide-toggle>
  </div>
</div>
<div class="row">
  <div *ngIf="(showWeekView$ | async); else noweek">
    <div *ngFor="let week of daysAndWeeks$ | async; let i = index" class="col-xs-12">
      <div class="panel panel-primary row">
        <div class="panel-heading">
          {{ 'Week ' + (i+1) }}
        </div>
        <div class="panel-body">
          <div *ngFor="let day of week; let j = index" :id="{{ 'week' + (i + 1) + '_day' + (j + 1) }}">
            <app-calendar-item [displayDate]="day" class="col-xs-1 seven-cols"
              style="text-align: -webkit-center; margin-left: -3px;"></app-calendar-item>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #noweek>
    <div *ngFor="let day of daysAndWeeks$ | async; let j = index" :id="{{ 'day' + (j + 1) }}">
      <app-calendar-item [displayDate]="day" class="col-lg-1 col-md-2 col-xs-4" style="text-align: -webkit-center;">
      </app-calendar-item>
    </div>
  </ng-template>
</div>
